<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBupVDlxlN1XZVAwnbJo8qmXIKLQU-40Hk</string>
	<key>GCM_SENDER_ID</key>
	<string>27266856527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cor</string>
	<key>PROJECT_ID</key>
	<string>coder-of-rajagiri-4444</string>
	<key>STORAGE_BUCKET</key>
	<string>coder-of-rajagiri-4444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27266856527:ios:e4568823d800a95db39c3a</string>
</dict>
</plist>